footer a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

#image {
    width: 272px;
    height: 92px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -46px;
  margin-left: -136px;
  }

#form {
      position: absolute;
      top: 68%;
      left: 43%;
  margin-top: -150px;
  margin-left: -150px;
}

#belowA {
    width: 146px;
    height: 36px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    position: absolute;
      top: 56%;
      left: 39%;
    margin-left: -70px;
    background-color: white;
}

#belowB {
    width: 146px;
    height: 36px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    position: absolute;
      top: 56%;
      left: 57%;
   margin-left: -70px;
   background-color: white;
}

footer {
  position:fixed;
  bottom: 0;
  width: 100%;
}

#l {
 float: left;
}

#r {
  float: right;
}